name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"   # corre de 12 em 12 horas
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg

      - name: Commit and Push Snake SVG
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p .github/assets
          cp dist/snake.svg .github/assets/snake.svg
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .github/assets/snake.svg
          git commit -m "Update snake animation" || echo "No changes to commit"
          git push
